<p *ngIf="loading">Loading, please wait...</p>
<div *ngIf="!loading">
    <div class="row" id="top">
        <div class="container col">
            <div class="card" id="main-img">
                <img *ngIf="!loading" src={{poke.sprites.front_default}} alt={{poke.name}}>
            </div>
        </div>
        <div class="container col" id="main-info">
            <h1>
                {{name|uppercase}}
            </h1>
            <ul id="types">
                <li *ngFor="let type of poke.types">
                    {{type.type.name}}
                </li>
            </ul>
            <div id="length">
                <p>
                    Height: {{poke.height}}
                </p>
                <p>
                    Weight: {{poke.weight}}
                </p>
            </div>
            <button *ngIf="!inCollection" (click)="collecting()">
                Add to Collection
            </button>
            <button *ngIf="inCollection" (click)="removing()">
                Remove from Collection
            </button>
        </div>
    </div>
    <ul id="moves">
        <h4>Moves:</h4>
        <li *ngFor="let move of poke.moves">
            {{move.move.name}}
        </li>
    </ul>
    <div class="row">
        <ul id="abilities">
            <h4>Abilities: </h4>
            <li *ngFor="let ab of poke.abilities">
                {{ab.ability.name}}
            </li>
            <h4>Base stats: </h4>
                <li *ngFor="let stat of poke.stats">
                    {{stat.stat.name}}: {{stat.base_stat}}
                </li>
                <li>
                    Base experience: {{poke.base_experience}}
                </li>
        </ul>
    </div>
</div>    
