#loading {
    max-width: 50px;
}

#abilities, #moves {
    float: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 30px;
    text-align: center;
    background-color: #FFE0E9;      
    list-style-type: none;
    margin: 20px;
    color: #54424B;
}

#moves {
    float: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    background-color: #FFE0E9;
    margin: 20px;
    color: #54424B;
}

button {
    padding: 10px;
    border-radius: 10px;
    color: #54424B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-color: #54424B;
}

#top {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}   
#main-img {
    color: #54424B;
    grid-column-start: 1;
    padding: 20px;
}
#main-info {
    color: #54424B;
    grid-column-start: 2;
}