nav {
    background-color: #C994FD;
    display: grid;
    height: 100%;
    width: 100vw;
    border-bottom: solid;
    border-color: #54424B;
}

img {   
    max-width: 200px;
    height: auto;
}

#container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

#left {
    float: left;
}

#right {
    grid-column-start: 2;
    color: #54424B;
}