<nav>
    <div id="container">
        <div id="left">
            <img src="https://1000logos.net/wp-content/uploads/2017/05/Pokemon-Logo.png" alt="Pokemonlogo" routerLink="pokemon" routerLinkActive="active">
        </div>
        <div id="right" *ngIf="loggedIn()">
            <h1 routerLink="trainer" routerLinkActive="active">
                {{name}}
            </h1>
        </div>
    </div>
</nav>