<button (click)="clickedLogout()">Log out</button>
<h1 *ngIf="isEmpty">You have caught no Pokémon! Go hunting!</h1>
<div>
    <ul>
        <li *ngFor="let poke of collection" class="card"
            (click)="clickedPoke($event, poke)">
            <img src={{this.sprites[poke]}} alt={{poke}}>
            <h2>
                {{poke|uppercase}}
            </h2>
            <button (click)="removing(poke)">Remove</button>
        </li>
    </ul>
</div>