button {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    color: #54424B;
    text-align: center;
    margin: 10px;
}

h1 {
    color: #54424B;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

li {
    color: #54424B;
    margin: 10px;
    background-color: #FFE0E9;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}