<h1>Welcome to your Pokédex!</h1>
<form [formGroup]="trainerForm">
    <div class="col">
        <div class="row" id="inputName">
            <input type="text"
            formControlName="trainername"
            name="trainername"
            placeholder="Enter your trainer name"
            (keyup.enter)="onTrainernameClicked($event)">
            <button 
            [disabled]="trainerForm.invalid"
            (click)="onTrainernameClicked($event)"
            type="button">Login</button>
        </div>
        <div class="row" *ngIf="trainername.invalid &&
                (trainername.touched || trainername.dirty)"
                id="validators">
            <h1 *ngIf="trainername.errors.required">
                INPUT IS REQUIRED!!!!
            </h1>
            <h1 *ngIf="trainername.errors.minlength">
                MORE THAN TWO LETTERS!!!!
            </h1>
            <h1 *ngIf="trainername.errors.maxlength">
                NOT MORE THAN 20!!!
            </h1>
        </div>
    </div>
</form>