<div>
    <div class="container">
        <div *ngFor="let poke of data.results; let i = index"
            (click)="clickedPoke($event, poke.name)" id="pokemon">
            <h4>
                {{poke.name|uppercase}}
            </h4>
            <img *ngIf="!loading"
            src={{this.sprites[poke.name]}}
            alt={{poke.name}}>
        </div>
    </div>
</div>