#loading {
    max-width: 70px;
}

#pokemon {
    float: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #FFE0E9;
    color: #54424B;
    margin: 15px;
}

.container {
    padding: 30px;
    align-items: center;
}