body {
    background-color: #FFE7F3;
    margin: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {margin: 0 10px;}

.container {
    margin: 25px 40px;
}
.col {
    float: left;
    padding: 20px;
}

button {
    background-color: #C994FD;
    text-align: center;
}

input {
    background-color: #FFF5FF;
    padding: 15px;
    flex-grow:1;
    border: none;
}

.card {
    float: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #FFE0E9;
    flex-grow:1
}

#inputName {
    display: flex;
    flex-grow: 1;
    padding: 2px;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}
